a {
  -webkit-tap-highlight-color: transparent;
}

#resultCard {
  &[data-card-animation='true'] {
    animation: 0.3s scaleUpDown ease-in-out;
  }
}

@keyframes scaleUpDown {
  0% {
    scale: 1;
  }
  40% {
    scale: 1.06;
  }
  100% {
    scale: 1;
  }
}
